footer {
	margin-top: 60px;
	margin-bottom: 20px;
	.border {
		border-top: 1px solid #000000;
		padding-top: 17px;
		margin: 0 15px;
	}
	.left-info {
		p {
			font-size: 16px;
			color: #000000;
		}
		a {
			color: #E60000;
			font-weight: 700;
		}
	}
	.right-info {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		p {
			color: #727272;
			font-size: 14px;
		}
		a {
			color: #E60000;
			text-decoration: underline;
			font-size: 16px;
			margin-left: 40px;
		}
	}
}