.our-team {
	margin-top: 70px;
	padding-bottom: 70px;
	.item {
		margin: 0 15px;
	}
	.team-slider {
		margin-top: 30px;
	}
	.team_avatar {
		position: relative;
		padding-left: 0;
		img {
			width: 100%;
			border-radius: 8px;
		}
		.name {
			position: absolute;
			top: 20px;
			right: 40px;
			p {
				color: #ffffff;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
	.team_description {
		p {
			margin-bottom: 30px;
			color: #727272;
			font-size: 16px;
			&:first-child {
				font-weight: 700;
				font-size: 18px;
				color: #000000;
				margin-bottom: 15px;
			}
		}
	}
	.slick-dots {
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		position: absolute;
		//top: 100%;
		bottom: -58px;
		left: 50%;
		margin-left: -23px;
		padding-left: 0;
		li {
			background: url("../img/circle.png") no-repeat center ;
			margin-right: 7px;
			&:last-child {
				margin-right: 0;
			}
			button {
				font-size: 0;
				line-height: 0;
				display: block;
				width: 10px;
				height: 10px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;
			}
		}
		.slick-active {
			background: url("../img/active.png");
			width: 12px;
			height: 12px;
		}
	}
    .slick-slide {
        padding: 0 10px 0 0;
        opacity: 0;
        transition: opacity .4s ease-in;
    }
    .slick-active {
        opacity: 1;
    }
	.slick-arrow {
		position: absolute;
		border: none;
		padding: 0;
		outline: none;
		top: 100%;
		
		& .rectangle {
			position: absolute;
			top: 0;
			left: 5px;
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
	.slick-next {
		right: 0;
		background: transparent;
		width: 115px;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #000000;
		padding: 8px 0 9px 0;
		
		& .arrow {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.slick-prev {
		display: none !important;
		left: 20px;
		background: transparent;
		width: 115px;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #000000;
		padding: 8px 0 9px 0;
		
		& .arrow {
			position: absolute;
			top: 30%;
			left: -10px;
		}
	}
	&.reviews {
		
		& .d-flex {
			margin-bottom: 20px;
			
			& p {
				font-weight: 700;
				font-size: 18px;
				color: #000000;
				margin-bottom: 0;
			}
		}
		
		& .slick-dots {
			left: 50%;
			transform: translateX(-50%);
			margin-left: 0;
			margin-top: -2px;
		}
		
		& .slick-prev {
			display: inline-block !important;
		}
	}
}
