.our-technical-stack {
	margin-top: 70px;
	h4 {
		margin-bottom: 30px;
	}
	ul {
		li {
			margin-top: 10px;
		}
	}
	.list-with-stack {
		margin-top: 20px;
	}
	.stack-technologies {
		margin-top: 50px;
	}
}