
.post {
    margin-top: 70px;
    
    & p {
        margin-bottom: 20px;
    
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.post-content {
    width: calc(90% - 30px);
    margin: 0 auto;
}

.post-title {
    font-family: $regular-font;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    text-transform: none;
}

.post-list {
    list-style: none;
    padding: 0;
    counter-reset: li-counter;
}

.post-list-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 10px;
    padding: 40px 15px 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    
    &::after {
        content: counter(li-counter) " ";
        counter-increment: li-counter;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 26px;
        padding: 6px 4px 7px 8px;
        font-family: "Gotham Pro",sans-serif;
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        background-color: $accent-primary;
    }
    
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 21px;
        height: 98%;
        border-left: 4px solid $accent-primary;
        border-bottom: 4px solid $accent-primary;
    }
}