@media (min-width: 992px) {
	.navbar-expand-lg {
		justify-content: space-between!important;
	}
}
@media screen and (max-width: 1200px) {
	.info .place-block p {
		font-size: 17px;
	}
	.info .place-block a {
		font-size: 14px;
	}
}
@media screen and (max-width: 991px) {
	h2 {
		font-size: 84px;
	}
	.main-info, .footer-social-links {
		display: flex;
		justify-content: space-between;
		.servises {
			width: 45%;
		}
	}
	.footer-social-links {
		p {
			width: 45%;
		}
	}
	.info .place-block .address, .info .map-block,
	footer .right-info {
		display: none;
	}
	.form-section .whatsapp-block p {
		text-align: center;
		margin-left: 0;
	}
	.form-section .whatsapp-block .link-block p {
		text-align: left;
	}
	.our-team .slick-dots {
		left: 40px;
	}
	.our-team .slick-next {
		right: 15px;
	}
	.our-profile .slick-track {
		padding-left: 30px;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.container {
		max-width: 100%;
	}
}
@media screen and (max-width: 699px) {
	h2 {
		font-size: 60px;
	}
	
	.our-technical-stack .stack-technologies {
		margin-top: 25px;
	}
}
@media screen and (max-width: 575px) {
	.main-section .container .grey-block {
		right: 50px;
		left: 50px;
	}
	.our-team .slick-arrow {
		top: 105%;
	}
	//.our-team .slick-dots {
	//	top: 108%;
	//}
	.team_description {
		padding: 0 20px 0 0;
		margin-top: 15px;
	}
	.our-technical-stack {
		margin-top: 110px;
	}
	.form-section .form-group input,
	.form-section .form-group textarea,
	.form-section .btn-block {
		max-width: 100%;
	}
	.form-section .whatsapp-block {
		margin-top: 50px;
	}
	.form-section .whatsapp-block .link-block {
		justify-content: space-between;
	}
	footer .border {
		margin: 0;
	}
	.our-profile .item {
		width: 290px;
	}
	.our-profile .slick-track {
		padding-left: 0;
	}
	.slick-list {
		padding-left: 21px;
	}
	.slick-slider {
		padding: 0;
	}
}
@media screen and (max-width: 477px) {
	h1 {
		font-size: 82px;
		line-height: 82px;
	}
	h2 {
		font-size: 42px;
		line-height: 42px;
	}
	.main-info, .footer-social-links {
		display: block;
	}
	.main-info .servises, .footer-social-links .servises,
	.footer-social-links p {
		width: 100%;
	}
	.our-technical-stack, .our-team, .our-profile,
	.price {
		margin-top: 70px;
	}
	h1 span:after {
		right: -73px;
		margin-top: -6px;
		background: url(../img/line.png) no-repeat center;
		background-size: contain;
		width: 61px;
		height: 12px;
	}
}
@media screen and (max-width: 370px) {
	h2 {
		font-size: 36px;
		line-height: 0;
	}
    
    .navbar-collapse {
        
        & .navbar-footer {
            font-size: 12px;
        }
        
        & .navbar-social {
            padding: 20px;
        }
    }
}
@media (min-width: 768px) {
	.our-profile .item {
		.img-block .name-profile p {
			font-size: 26px;
		}
	}
	
	.our-team.reviews {
		
		& .d-flex p {
			margin-left: 20px;
		}
		
		& .slick-dots {
			bottom: -28px;
		}
	}
		
		.modal-text,
	.modal-sub-title {
		width: 70%;
		margin: 0 auto 10px;
	}
    
    .main-section .main-section_description p {
        font-size: 32px;
    }
	
	header .header-menu {
		justify-content: space-between;
		padding-left: 0;
	}
    
    header .header-block {
        justify-content: space-between;
    }
	
	.navbar-footer {
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding: 20px 0;
		border-top: 1px solid #EEEEEE;
		
		& .copyright {
			width: 30%;
			margin-right: 7%;
		}
	}
	
	.navbar-collapse {
		
		& .navbar-social {
			width: 30%;
			order: inherit;
			margin-bottom: 0;
			margin-right: auto;
			padding: 0;
			border-bottom: 0;
		}
	}
	
	.navbar-collapse.show {
		height: 92vh;
		right: -40px;
		
		& .row {
			height: 92vh;
		}
	}
    
    .our-technical-stack h4 {
        margin-bottom: 25px;
    }
}

@media (min-width: 1024px) {
	
	.modal-content {
		padding: 40px 75px 10px;
	}
	
	.navbar-toggler {
		margin-left: 25px;
	}
	
	.our-profile .item .img-block .name-profile p {
		margin-left: 5%;
		font-size: 26px;
	}
}

@media (min-width: 1366px) {
	
	.our-profile .item .img-block .name-profile p {
		font-size: 30px;
	}
	
	header {
		border-bottom: none;
		
		& .container {
			position: relative;
		}
		
		& .header-menu {
			position: absolute;
			right: -10px;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			width: auto;
			padding-right: 0;
			z-index: 20;
		}
        
        & .header-block {
            position: relative;
            right: -1px;
            flex-direction: column-reverse;
            justify-content: flex-end;
            width: auto;
            height: 100vh;
            padding: 0 15px;
            background-color: white;
            
            & .navbar-toggler {
                margin-left: 0;
            }
        }
	}
	
	.navbar-collapse {
        position: static;
		width: 0;
		height: 100vh;
		overflow-y: hidden;
		transition: width .4s linear, opacity .2s linear;
	}
	
	.navbar-collapse.show {
		position: static;
		right: -13vh;
		width: 30vw;
		height: 100vh;
        transition: width .4s linear, opacity .2s linear;
		
		& .row {
			flex-direction: row;
			
			& h4 {
				margin-top: 0;
			}
			
			& .btn-close {
				margin-left: 0;
			}
			
			& > div:first-child {
				flex-direction: column;
			}
		}
		
		& .navbar-footer {
			width: 100%;
			padding: 20px 0;
			
			& .copyright {
				width: auto;
			}
		}
	}
	
	.navbar-footer .navbar-social {
		display: none;
	}
	
	.navbar-social {
		flex-direction: column;
		margin-top: 30px;
		
		& a {
			margin-bottom: 30px;
		}
	}
}

@media (min-width:  1600px) {
	
	.modal-content {
		padding: 70px 75px 10px;
	}
}